body{
    font-family: 'Roboto', serif;
}
.navBar{
    margin: 0px 0px 20px 0px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: midnightblue;
    padding: 1px;
}
.navBar h1{
    position: relative;
    left: 12%;
}
.flexContainer{
    display: flex;
}
.container{
    width: 40%;
}
#input input{
    margin-top: 3px;
    width: 100%;
}
.button{
    background-color:cornflowerblue;
    border-radius: 5px;
    border-style: none;
    color: white;
}
#recentSearchButton{
    background-color: rgba(161, 160, 160, 0.842);
    margin-bottom: 7px;
    padding: 5px;
    color: black;
}
hr{
    border-style: solid;
    border-width: 1.75px;
}
.sideBar{
    width: 70%;
    margin-right: 10%;
}
#current{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
i{
    color: orange;
}
.forecast{
    display: flex;
    justify-content: space-between;
}
.weatherForecastItem{
    display: inline-block;
    background-color: midnightblue;
    color: white;
    padding: 5x;
    margin-right: 5px;
    width: 150px;
}
.weatherForecastItem i{
    padding-bottom: 10px;
}
.weatherForecastItem div{
    padding-bottom: 10px;
}
@media screen and (max-width: 700px) {
    .flexContainer{
        padding-left: 5px;
        padding-right: 20%;
    }
    .container{
        width: 100%;
    }
    .sideBar{
        width: 100%;
    }
    .forecast{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .searchHistory{
        display: none;
    }
    hr{
        display: none;
    }
    .flexContainer{
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
    .container{
        width: 100%;
        padding: 0px;
        padding-bottom: 5px;
    }
    .sideBar{
        width: 100%;
    }
    .forecast{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .forecast{
        display: inline-block;
    }
    .weatherForecastItem{
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

